{
	email {$EMAIL}
}

{$DOMAIN:localhost} {
	# Override default directive priority using route
	route {
		reverse_proxy /api/* biixie_backend:3000
		reverse_proxy biixie_frontend:80
	}
}

# WWW redirect
www.{$DOMAIN:localhost} {
	redir {scheme}://{$DOMAIN:localhost}{uri}
}

# Anubis entrypoint (Not Cloudflare compliant)
{$DOMAIN_PERSONAL},
auth.{$DOMAIN_PERSONAL},
secret.{$DOMAIN_PERSONAL} {
	tls {$EMAIL_PERSONAL}

	reverse_proxy anubis:3000 {
		header_up X-Real-Ip {remote_host}
		header_up X-Http-Version {http.request.proto}
	}
}

# Anubis entrypoint for Ntfy with bypass for push API
ntfy.{$DOMAIN_PERSONAL} {
	tls {$EMAIL_PERSONAL}
	
	# reverse_proxy anubis:3000 {
	# 	header_up X-Real-Ip {remote_host}
	# 	header_up X-Http-Version {http.request.proto}
	# }

	# @ntfy_get {
 #        method GET
 #        path_regexp ^/([-_a-z0-9]{0,64}$|docs/|static/)
 #    }
	# reverse_proxy @ntfy_get 10.13.13.2:80 {
	# 	header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
	# 	header_up X-Forwarded-Host {http.request.header.X-Forwarded-Host}
	# 	header_up X-Http-Version {http.request.header-X-Http-Version}
	# }

	reverse_proxy 10.13.13.2:80 {
		header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
		header_up X-Forwarded-Host {http.request.header.X-Forwarded-Host}
		header_up X-Http-Version {http.request.header-X-Http-Version}
	}
}

# WWW redirect
www.{$DOMAIN_PERSONAL} {
	redir {scheme}://{$DOMAIN_PERSONAL}{uri}
}

# Actual website entrypoint
http://{$DOMAIN_PERSONAL}:81, http://*.{$DOMAIN_PERSONAL}:81 {
	reverse_proxy 10.13.13.2:80 {
		header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
		header_up X-Forwarded-Host {http.request.header.X-Forwarded-Host}
		header_up X-Http-Version {http.request.header-X-Http-Version}
	}
}
