{
    email {$EMAIL}
}

{$DOMAIN:localhost} {
	# Override default directive priority using route
	route {
		reverse_proxy /api/* biixie_backend:3000
		reverse_proxy biixie_frontend:80
	}
}

# WWW redirect
www.{$DOMAIN:localhost} {
	redir {scheme}://{$DOMAIN:localhost}{uri}
}


{$DOMAIN_PERSONAL} {
	tls {$EMAIL_PERSONAL}
	
	# reverse_proxy wireguard:80
	# reverse_proxy whoami:80
	respond "Välkommen till klinden.se!" 418
}

# WWW redirect
www.{$DOMAIN_PERSONAL} {
	redir {scheme}://{$DOMAIN_PERSONAL}{uri}
}
